<.header>
  Edit Timesheet <%= @timesheet.id %>
  <:subtitle>Use this form to manage timesheet records in your database.</:subtitle>
</.header>

<.timesheet_form changeset={@changeset} action={Routes.timesheet_path(@conn, :update, @timesheet.id)} />

<.back navigate={Routes.timesheets_path(@conn, :index)}>Back to timesheets</.back>
